@model QuanLyKhoBiaNGK.Models.ReceivedBill

@{
    ViewData["Title"] = "Create";
}

<div class=" my-2">
    <a class="btn btn-secondary" asp-action="Index">
        <i class="fa-solid fa-chevron-left me-2"></i>
        Quay lại </a>
</div>
<h1>Thêm hóa đơn nhập hàng</h1>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group mt-2">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group my-2">
            <input type="submit" value="Tạo hóa đơn" id="btnSubmit" class="btn btn-primary float-end" />
        </div>
    </div>
</form>