@page
@model LockoutModel
@{
    ViewData["Title"] = "Tài khoản bị khóa";
}

<header>
    <h1 class="text-danger fw-bold">
        <i class="fa-solid fa-lock me-2"></i>
        @ViewData["Title"]
    </h1>
    <p class="text-danger fs-4">Tài khoản này đã bị khóa, vui lòng liên hệ quản trị viên để biết thêm chi tiết.</p>
</header>
