@model QuanLyKhoBiaNGK.Models.Product

@{
    @* ViewData["Title"] = "Thêm Hàng Hóa"; *@
}

<h1>Thêm sản phẩm mới</h1>


<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryLevel" class="control-label"></label>
                <input asp-for="InventoryLevel" class="form-control" />
                <span asp-validation-for="InventoryLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory" class="control-label"></label>
                <input asp-for="Inventory" class="form-control" />
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Tạo" class="btn btn-primary" /> |
                <a class="btn btn-secondary mt-1" asp-action="Index">Trở lại danh sách</a>
            </div>
        </div>
        <div class="col-md-6">
            <div id="price-container">
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label">Đơn vị tính</label>
                        <input asp-for="@Model.Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label class="control-label">Giá nhập</label>
                        <input asp-for="@Model.PurchasePrice" class="form-control" />
                        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label class="control-label">Giá bán lẻ</label>
                        <input asp-for="@Model.RetailPrice" class="form-control" />
                        <span asp-validation-for="RetailPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label class="control-label">Giá bán sỉ</label>
                        <input asp-for="@Model.WholesalePrice" class="form-control" />
                        <span asp-validation-for="WholesalePrice" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

        })
    </script>
}
